sudo: required
dist: trusty
language: node_js
env:
  global:
    - GH_REF: 'github.com/googlechrome/sw-testing-helpers.git'
    - secure: "KQ2R5aEaPNb58/9QPYAqEJCOM+jW7EpEuGOCb8TcluOMqUKAsvMGogB8iyc5CDbvUTGn2bjFidt2UmKisb1V6MALKu68B8q/ZA0HCK+6OzpleniGeRqu1vGxlP6Mrv4xQUbjVc6zfsXKv9dkRK8QEJnF/eeyMMYZKLJGnWsbVpD2h+zmuobTfuwXsNgzc4a4umlz10DhTi01bok30doRgeYgLbhPDePeyBUqYWDgfGQ/MBVPt7CYr0Xp9gHGk3Rw8AjSwoikUtFJsuPlor4JafmDlLKzaxFqdj9HS5SB40kFPsX8gAqX+2A89KAJqLk3bHMyJwk0DQpcDCHejiRWJyOIdF7WJF5RtbKzzG2N7ksJ9huXZ5DGiPXHFjLNeRmRj0CBs+mUSXA6GOag3OZL4+W2qidcjK0gwaqgHNNAjSzs8WcZQS+PpfvO/5zKEe3ozMtvp9SCF/gyN15JWbMEvJfp8ozrd471p1dIRznakEDANmU6KCV/sPKedTcBBO9ZnRIN0Dwux+evrAwVcP28zEpiOWKqLDonOrQuKHBDtsQ0P8KudLKeaIjpv+jTOkfla5ZvOkeTlKLmah43WRzPcL6iyeTzynOrWA+qHUwUcu3Qb16u50NG60uFfaFlQ/CSpdtOYoNIHipDhkk0l0GYTb4q5LLdV2UdXifi/j7nqCE="
cache:
  directories:
    - node_modules
os:
  - linux
  - osx
node_js:
  - '4'
  - 'stable'
addons:
  # You can't install latest and beta as addons
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
      - google-chrome-beta

before_install:
  # Get firefox beta and nightly and extract to tar for the test runner to use.
  - ./project/download/firefox-beta.sh
  - ./project/download/firefox-nightly.sh
  # Get marionette executable
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then ./project/download/firefox-beta.sh; fi
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then ./project/download/firefox-nightly.sh; fi
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then ./project/download/get-marionette.sh; fi
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then wget -O - http://deb.opera.com/archive.key | sudo apt-key add -; fi
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then sudo apt-add-repository "deb http://deb.opera.com/opera/ stable non-free"; fi
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then sudo apt-get update; fi
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then sudo apt-get install opera opera-beta -y; fi

install:
  - npm install

# Read more here: https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start || echo \"Unable to start virtual display.\""

script:
  - npm run test
  - if [[ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_OS_NAME" = "linux" && "$TRAVIS_PULL_REQUEST" = "false" ]]; then
      ./project/publish-docs.sh master;
    fi
