<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.github.project_title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="{{ site.github.url }}">Project Home</a></li>
          <li><a href="{{ site.github.issues_url }}">Raise an issue</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.github.project_tagline }}</p>
      </div>
    </div>

  </div>

</footer>
